.tangerine {
	font-family: 'Tangerine', cursive;
}

.vollkorn {
	font-family: 'Vollkorn', serif;
}

body {
	line-height: 1.5em;
	background: #E7E7E7;
}

#background {
	position: fixed;
	top:0;
	z-index: -999;
}

.text-head {
	margin-top: 1em;
}

.text-head p {
	margin: 12px 0;
	margin-right: 16px;
}

#thirteen {
	font-weight: bold;
	font-size: 32px;
}

#blackbird {
	margin: 32px 0;
	font-size: 72px;
}

.right-align {
	text-align: right;
}

.fleft {
	float: left;
}

.clear {
	clear: both;
}

A:active, A:visited , A:link{
	color: #0ac5f4;
	text-decoration: none;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
}

A:hover{color: #999;}

#container:after {
  content: ' ';
  display: block;
  clear: both;
}

.gutter-sizer {
  width: 3%;
}

.grid-sizer {
  width: 31%;
}

.item {
  width: 31%;
  display: inline-block;
  position: relative;
  background: #333;
}

/* item has expanded size */
.item.is-expanded {
  width: 64%;
}

#dummy {
    padding-top: 75%; /* 4:3 aspect ratio */
}

.item-content {
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

	width: 100%;
	height: 100%;
	display: block;
	overflow: hidden;
	border: 4px solid #333;
  border-color: hsla(0, 0%, 100%, 0.4);
  -webkit-transition: width 0.4s, height 0.4s;
     -moz-transition: width 0.4s, height 0.4s;
       -o-transition: width 0.4s, height 0.4s;
          transition: width 0.4s, height 0.4s;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.item:hover { cursor: pointer; }

.item:hover .item-content {
  border-color: white;
}

.item.is-expanded {
  z-index: 2;
}
